<link href="/pasystem-tool/stylesheets/pasystem.css{{portalCDNQuery}}" rel="stylesheet" property="stylesheet" type="text/css" />
<script src="/library/js/jquery/cookie/jquery.cookie.js{{portalCDNQuery}}"></script>
<script src="/pasystem-tool/scripts/pasystem.js{{portalCDNQuery}}"></script>

<script id="pasystemBannerAlertsTemplate" type="text/template">
  <div class="pasystem-banner-alert">
    <span class="pasystem-banner-alert-message"></span>
    <a class="pasystem-banner-alert-close" href="javascript:void(0)"></a>
  </div>
</script>
<script id="pasystemBannerAlertsToggleTemplate" type="text/template">
  <a href="javscript:void(0)" class="pasystem-banner-alert-toggle">
    Show System Alerts
  </a>
</script>
<script>
  new PASystemBannerAlerts({{{bannerJSON}}});
</script>
