<script type="text/template" id="popup-container-content">
{{{popupTemplate}}}
</script>

{{! FIXME: I18N for these}}
<script type="text/template" id="popup-container-footer">
<div class="popup-container-footer">
  <div class="popup-dismiss-button permanent" id="popup-acknowledged-button">Don't show this again</div>
  <div class="popup-dismiss-button temporary" id="popup-later-button">Remind me later</div>
</div>
</script>

{{# if popup}}
<script>
  new PASystemPopup("{{popupUuid}}, {{sakai_csrf_token}}");
</script>
{{/if}}
