.pasystem-banner-alert {
  background-color: #f7e084;
  color: #000;
  padding: 10px 0;
  position: relative;
  background-color: rgba(247, 224, 132, 0.9);
  border: 1px solid rgba(165, 138, 29, 0.1);
}
.pasystem-banner-alert:before {
  background-image: url(../images/warning.png);
  background-repeat: no-repeat;
  content: ' ';
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px;
}
.pasystem-banner-alert .pasystem-banner-alert-close {
  position: absolute;
  top: 50%;
  right: 10px;
  text-decoration: none;
  background-image: url(../images/dismiss.png);
  background-repeat: no-repeat;
  content: ' ';
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
.pasystem-banner-alert-toggle-list-item {
  float: left;
  margin-left: 120px; /* stay out of the way of the #roleSwitch link */
}
.pasystem-banner-alert-toggle {
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;

  background-color: #f7e084;
  color: #000 !important;
  text-align: center;
  padding: 6px 8px 6px 30px;
  border-radius: 3px;
  text-decoration: none;
  background-image: url(../images/warning.png);
  background-repeat: no-repeat;
  background-position: 5px center;
}

.pasystem-banner-alert-toggle:hover {
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;

  background-color: #F7DB4D;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .pasystem-banner-alerts {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 500px;
    z-index: 10000;
  }
  .pasystem-banner-alerts .pasystem-banner-alert {
    margin: 10px;
    background-color: rgba(247, 224, 132, 0.9);
    border: 1px solid rgba(165, 138, 29, 0.1);
    border-radius: 5px;
  }
  .pasystem-banner-alert-toggle-list-item {
    position: fixed;
    left: 100px;
    top: 16px;
  }
  .pasystem-banner-alert-toggle {
    padding: 8px;
  }
}
/* Growl-like banner alerts (optional?) */
.pasystem-banner-alerts.growl {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 500px;
  z-index: 10000;
}
.pasystem-banner-alerts.growl .pasystem-banner-alert {
  margin: 10px;
  background-color: rgba(247, 224, 132, 0.9);
  border: 1px solid rgba(165, 138, 29, 0.1);
  border-radius: 5px;
}
@media only screen and (max-width: 800px) {
  .pasystem-banner-alerts.growl {
    width: 80%;
  }
}


/* Popup screen */
@media all{.featherlight{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2;text-align:center;white-space:nowrap;cursor:pointer;background:#333;background:rgba(0,0,0,0)}.featherlight:last-of-type{background:rgba(0,0,0,.8)}.featherlight:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-.25em}.featherlight .featherlight-content{position:relative;text-align:left;vertical-align:middle;display:inline-block;overflow:auto;padding:25px 25px 0;border-bottom:25px solid transparent;min-width:30%;margin-left:5%;margin-right:5%;max-height:95%;background:#fff;cursor:auto;white-space:normal}.featherlight .featherlight-inner{display:block}.featherlight .featherlight-close-icon{position:absolute;z-index:9999;top:0;right:0;line-height:25px;width:25px;cursor:pointer;text-align:center;font:Arial,sans-serif;background:#fff;background:rgba(255,255,255,.3);color:#000}.featherlight .featherlight-image{width:100%}.featherlight-iframe .featherlight-content{border-bottom:0;padding:0}.featherlight iframe{border:0}}@media only screen and (max-width:1024px){.featherlight .featherlight-content{margin-left:10px;margin-right:10px;max-height:98%;padding:10px 10px 0;border-bottom:10px solid transparent}}

.featherlight .featherlight-content {
    min-width: 450px;
    max-width: 782px;
    max-height: 85%;
    padding: 40px;
    padding-bottom: 0;
}

.featherlight .featherlight-close {
    right: 5px;
    top: 5px;
}


.popup-container-footer {
  display: block;
  padding: 8px 0;
  line-height: 25px;
  text-align: right;
  font-size: 18px !important;

  margin-top: 2em;
}


.popup-dismiss-button {
    display: inline-block !important;
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    padding: 3px 8px !important;

    cursor: pointer;
}

.popup-dismiss-button.permanent {
    border: 1px solid #DBDCDE !important;
    background: #E7E7EB !important;
    color: #444 !important;
}

.popup-dismiss-button.temporary {
    background: #3698DB !important;
    color: #FFF !important;
    border: 1px solid #3698DB !important;
}

.popup-dismiss-button:hover {
    -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    -ms-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    background: #FFF !important;
    color: #3698DB !important;
    border-color: #3698DB !important;
}

.popup-container-header {
  background: #57068c;
  padding: 10px 20px;
  color: #FFF;
  text-align: center;
  font-size: 2em;
  padding-right: 50px;
  position: relative;
  display: block;
}
