<div class="commons-edit">
    <div class="commons-dialog-container">
        <form id="commons-edit-form">
            <fieldset>
                <label for="commons-title">{{tr 'commons' 'edit_title'}}</label>
                <input type="text" id="commons-title" required>
            </fieldset>

            <div class="act">
              <input type="submit" class="active" id="commons-edit-update-button" value="{{tr 'commons' 'edit_save'}}"/>
              <input type="button" id="commons-edit-cancel-button" value="{{tr 'commons' 'cancel'}}"/>
            </div>
        </form>
    </div>
</div>