<section class="pasystem-section">
  <h3>Banners</h3>

  <table class="listHier lines">
    <thead>
      <tr>
        <th>Message</th>
        <th>Active</th>
        <th>From</th>
        <th>Until</th>
        <th><!-- actions --></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<section class="pasystem-section">
  <h3>Popups</h3>

  <table class="listHier lines">
    <thead>
      <tr>
        <th>Description</th>
        <th>Active</th>
        <th>From</th>
        <th>Until</th>
        <th><!-- actions --></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<section class="pasystem-section">
  <h3>Timezone Check</h3>

  <p>TODO</p>
</section>