<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/library/skin/tool_base.css" />
        <link rel="stylesheet" type="text/css" href="/pasystem-tool/stylesheets/pasystem-tool.css" />
    </head>
    <body>
        <div class="portletBody">
            {{{subpage this subpage}}}
        </div>
    </body>
</html>
