/* **************************************************************** *
 *                      Gradebook Sorter styles                     *
 * **************************************************************** */
 
 /* Fonts */
 @font-face {
    font-family:"gradebook-icons";
    src:url(../fonts/gradebook-icons.eot);
    src:url(../fonts/gradebook-icons.eot?#iefix) format("embedded-opentype"),url(../fonts/gradebook-icons.woff) format("woff"),url(../fonts/gradebook-icons.ttf) format("truetype"),url(../fonts/gradebook-icons.svg#gradebook-icons) format("svg");
    font-weight:400;
    font-style:normal
}

#gradebookSorter .gb-sorter-sortable {
  border: 1px solid #EEE;
  padding: 4px 10px;
  background-color: #FAFAFA;
  margin-bottom: 4px;
  cursor: move;
}

#gradebookSorter .gb-sorter-sortable:before {
  font-family: "gradebook-icons";
  content: '\f0c9';
}

#gradebookSorter .gb-sorter-placeholder {
  border: 1px dashed #CCC;
  padding: 4px 10px;
  margin-bottom: 4px;
}