#gradeTable {
  font-size: 0.9em;
}
#gradeTable td,
#gradeTable th {
  overflow: visible;
}
#gradeTable td {
  text-align: center;
}
#gradeTable tbody th {
  text-align: left;
}
#gradeTable .handsontableInputHolder {
  text-align: center;
}

#gradeTable .handsontableInputHolder .out-of {
  position: absolute;
  right: 2px;
  background-color: #FAFAFA;
  font-size: 0.8em;
  top: 2px;
  border-left: 1px solid #EEE;
  height: 28px;
  line-height: 28px;
}
#gradeTable .handsontableInput {
  line-height: 30px;
}

#gradeTable .handsontable tr > *:nth-child(2){
  border-right: 1px solid #BBB;
  background-color: #F6f6f6;
}
#gradeTable .handsontable thead th {
  border-bottom: 1px solid #BBB;
}

#gradeTable .handsontable th,
#gradeTable .handsontable td {
  border-color: #EAEAEA;
}

#gradeTable .handsontable th {
  background-color: #F6f6f6;
}


#gradeTable thead th .relative {
  height: 100%;
  min-height: 110px;
}
#gradeTable tbody td .relative {
  height: 100%;
  min-height: 30px;
  height: 30px;
}
#gradeTable .handsontable td {
  white-space: nowrap;
}
#gradeTable .gb-title {
  font-weight: bold;
  white-space: normal;
  text-align: left;
  line-height: 1.2em;
  padding-bottom: 4px;
}
#gradeTable .gb-grade-section,
#gradeTable .gb-due-date,
#gradeTable .gb-category {
  text-align: left;
  font-size: 0.9em;
  line-height: 1.3em;
}
#gradeTable .gb-grade-item-flags {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
#gradeTable .colHeader .btn-group {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
#gradeTable .btn-group > a {
  line-height: 10px;
  padding: 2px 10px;
  opacity: 0.2;
  border-color: #EEE;
}
#gradeTable th:hover .btn-group > a,
#gradeTable td:hover .btn-group > a,
#gradeTable .highlight .btn-group > a {
  opacity: 1;
}

#gradeTable .highlight {
  color: inherit;
  font-weight: inherit;
}
#gradeTable .currentCol,
#gradeTable .currentRow {
  background-color: #FAFAFA;
}
#gradeTable th.currentCol,
#gradeTable th.currentRow,
#gradeTable .handsontable tr > .currentRow:nth-child(2) {
  background-color: #EEE;
}
#gradeTable th.gb-categorized {
  border-top: 10px solid #F0F0F0;
}
#gradeTable .swatch {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 4px;
  box-shadow: 1px 1px 2px #CCC;
}
#gradeTable .gb-uncategorized {
  text-align: left;
  color: #999;
}
#gradeTable tbody td .gb-value {
  line-height: 30px;
}
#gradeTable tbody td .btn-group {
  position: absolute;
  right: 0;
  bottom: 2px;
}
