// --------------------------------------------------------------------------------------------------------------------
//  Banner/Logo Header
// --------------------------------------------------------------------------------------------------------------------
.#{$namespace}mainHeader{
  .#{$namespace}headerLogo{
    height: $nyu-header-height;
    background-color: $nyu-header-background;
    padding: 0 !important;

    @media #{$nonPhone} {
      width: 100% !important;
      justify-content: flex-start !important;
      border-bottom: $nyu-divider-width solid $nyu-purple;
    }
    @media #{$phone} {
      .#{$namespace}headerLogo--institution {
        
      }
    }

    .#{$namespace}headerLogo--institution{
      background-size: 80% !important;
      background-position: 10px center !important;
      background-repeat: no-repeat !important;
    }
  }
}
@media #{$phone} {
  .#{$namespace}mainHeader{
    .#{$namespace}headerLogo{
      .#{$namespace}headerLogo--institution{
        &:before {
          font-size: 44px;
          line-height: 44px;
        }
        max-width: 200px;
        width: 50% !important;
      }
      #mastLogin {
        padding-right: 4px;
      }
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Login
// --------------------------------------------------------------------------------------------------------------------
##{$namespace}xlogin{
  top: 20% !important;
  left: calc(50% - 15em) !important;
  width: 30em !important;
  h1 {
    display: none;
  }
  .logo {
    background-color: $nyu-header-background !important;
    margin-bottom: 20px;
    border-bottom: 1px solid $nyu-divider-color;

    background-size: 60% !important;
    background-position: 10px center !important;
    background-repeat: no-repeat !important;
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Favorite Sites Navigation
// --------------------------------------------------------------------------------------------------------------------
body {
  ##{$namespace}sites-nav{
    .#{$namespace}sitesNav__menuitem--myworkspace-label {
      padding-left: 4px;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------
//  Timeout Alert
// --------------------------------------------------------------------------------------------------------------------
#timeout_alert_body {
  box-shadow: $nyu-timeout-alert-shadow !important;
  background: $nyu-timeout-alert-background-color !important;
}

// --------------------------------------------------------------------------------------------------------------------
//  Main Content
// --------------------------------------------------------------------------------------------------------------------
.portletBody {
  // some morpheus elements are sometimes clipped :?(
  // so we need some padding/margin
  padding: 0 14px !important;
  margin: 6px 0 0 0 !important;
}
.#{$namespace}container--toolTitleNav {
  // so container header lines up with the container body
  padding: 10px 14px !important;
}

// -------------------------------------------------------------------------------------------------------------------
//  PA System
// -------------------------------------------------------------------------------------------------------------------
.pasystem-banner-alert-toggle-list-item {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: none !important;

  @media #{$nonPhone} {
    top: 0 !important;
    padding: 0px 8px !important;
  }
  @media #{$phone} {
    top: 0 !important;
    left: auto !important;
    right: 80px !important;
    padding: 0 !important;
  }

  a {
    text-decoration: none !important;
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Unpublished notice
// -------------------------------------------------------------------------------------------------------------------
.#{$namespace}siteStatus{
  &.is-unpublished {
    color: $nyu-site-status-text-color !important;
    background-color: $nyu-site-status-background-color !important;
    height: $nyu-site-status-height - 1;
    padding: 0 !important;
    border-color: $nyu-site-status-border-color !important;
    border-radius: $nyu-site-status-border-radius !important;

    @media #{$phone} {
      height: $nyu-site-status-height - 10;
    }

    h4 {
      margin: 0 !important;
      line-height: $nyu-site-status-height;
      padding: 0 !important;

      @media #{$phone} {
        line-height: $nyu-site-status-height - 10;
      }
    }

    button {
      position: relative;
      top: 4px !important;
      line-height: 14px !important;
      margin-left: 10px !important;

      @media #{$phone} {
        top: 0 !important;
      }
    }
  }
}
